.body{
    -fx-font-size: 10px;
}

.custom-combo-box .list-cell {
    -fx-padding: 0 0 0 2;
    -fx-font-size: 11px;
}

.custom-combo-box .list-cell .text {
    -fx-graphic-text-gap: 0;  /* Remove gap between icon and text */
}

.consult_status_cancel .list-cell
{
    -fx-background: white;
    -fx-background-color: #941b3a;
    -fx-text-fill: white;
}

.consult_status_pending .list-cell
{
    -fx-background: white;
    -fx-background-color: D9512C;
    -fx-text-fill: white;
}
.consult_status_done .list-cell
{
    -fx-background: white;
    -fx-background-color: #035903;
    -fx-text-fill: white;
}

#DateTimePicker_TextField {
    -fx-background-radius:3 0 0 3;
    -fx-border-radius:3 0 0 3 ;
    -fx-border-color: grey;
}

#DateTimePicker_TextField:disabled {
    -fx-opacity: 1.0;
}

#DateTimePicker_Button {
    -fx-background-radius:0 3 3 0;
    -fx-border-radius:0 3 3 0 ;
    -fx-border-color: grey;
}


.button {
    -fx-cursor: hand;
}

.text-input {
    -fx-font-size: 11px;
}

.context-menu {
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-background-color: red;
    -fx-border-color: red;
    -fx-padding: 1;
    -fx-text-fill: white;
}

.common-context-menu,.common-menu-button {
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-text-fill: black;
    -fx-cursor: hand;

}

.common-menu-button.menu-item{
    -fx-min-width: 90px;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-border-color: grey;
}

#settingMenuButton {
    -fx-background-radius: 4;
    -fx-background-color: #1a75ff;
    -fx-padding: 1;
    -fx-text-fill: white;
}

.checkItem {

    -fx-font-family: 'Arial';
    -fx-padding: 5 8 5 8;
    -fx-text-fill: blue;
    -fx-alignment: center;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.payDues{
    -fx-font-family: 'Arial';
    -fx-padding: 5 8 5 8;
    -fx-text-fill: #ff0000;
    -fx-alignment: center;
    -fx-cursor: hand
}

.checkItem:hover , .payDues:hover{
    -fx-underline: true;
}


.menu-item:focused .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.menu-item:focused {
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-background-color: #04852f;
    -fx-padding: 2;
    -fx-text-fill: white;
}

#menu_listView-cell {

    -fx-alignment: center;

}

.table-column {

    -fx-alignment: CENTER;
    -fx-wrap-text: true;
    /* -fx-table-cell-border-color: #a7a4a8;*/
}


.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

/*setting css*/
.savebtn:hover {
    -fx-background-color: blue;
}
.table-view .column-header, .table-view .filler {
    -fx-background-color: #d4d6d7;
    -fx-size: 3px;
    -fx-font-family: Arial;
    -fx-border-color: -fx-box-border;
    -fx-border-width: 0 1 3 0;
    -fx-border-insets: 0;
}

.table-view .column-header .label {
    -fx-padding: 0.4em;
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-font-size: 9px;
}

.table-view .table-cell {
    -fx-padding: 0.3em;
    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-table-cell-border-color -fx-table-cell-border-color transparent;
    -fx-alignment:center-left;
    -fx-table-cell-border-color: transparent;
    -fx-text-fill: black;
    -fx-cell-size: 25;
    -fx-font-size: 10;
}


.table-row-cell:selected {
    -fx-background-color: transparent;
}

/* Remove spacing */
.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
}

/* You can control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0, 1;
    -fx-background-color: lightgray, #FAFAFA;
    -fx-min-width: 20;
    -fx-min-height: 20;
}

/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: lightgray;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected {
    -fx-background-insets: 0;
    -fx-background-color: #58379A;
    -fx-text-fill: white;
}

.pagination{
    -fx-page-information-visible:false;
}


.tag-bar {
    -fx-border-color: lightblue;
    -fx-spacing: 3;
    -fx-padding: 3;
    -fx-max-height: 30;
}

.tag-bar .tag {
    -fx-background-color: -fx-selection-bar;
    -fx-border-radius: 5 5 5 5;
}

.tag-bar .tag {
    -fx-text-fill: white;
}

.tag-bar .tag .button{
    -fx-text-fill: orange;
    -fx-font-weight: bold;
}
